@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --color-deep-black: #0a0e1a;
  --color-blue-dark: #1a237e;
  --color-blue-dark-semidark: #263238;
  --color-blue-light: #2196f3;
  --color-blue-neon: #00bcd4;
  --color-blue-neon-light: #4fc3f7;
  --color-cyan-neon: #29b6f6;
  --color-cyan-neon-hover: #0288d1;
  --color-indigo-neon: #3f51b5;
  --color-gray-bluish: #37474f;
  --color-white: #ffffff;
  --color-light-gray: #78909c;
  --color-medium-light-gray: #546e7a;
  --color-dark-gray: #455a64;
  --color-blue-accent: #03a9f4;
  --shadow-blue-neon: 0px 0px 30px 1px rgba(0, 188, 212, 0.15);

  --breakpoint-375: 375px;
  --breakpoint-425: 425px;
  --breakpoint-1440: 1440px;
}

/* Scrollbar customizado quadrado sem setas */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--color-deep-black);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-neon);
    border-radius: 0px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-cyan-neon-hover);
  }
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
}
